<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.hong.schedule.board.dao.ReplyMapper">

<select id="selectList" resultType="co.hong.schedule.board.vo.ReplyVO">
	<![CDATA[
	select * 
	from (select rownum rn, a.*
    	from (select * from reply
        	where board_num = #{brdNum} 
        	order by reply_num) a
    	where rownum <= (#{page} * 10)
	) b
	where b.rn > (#{page}-1) * 10
	]]>
</select>

<select id="selectOne">
		select * from reply
		where reply_num = #{replyNum}
</select>

<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM REPLY WHERE BRD_NO = #{brdNum}
</select>


<insert id="insertReply" >
		insert into reply( reply_num, board_num, reply_content, mem_id)
		values(#{replyNum}, #{boardNum}, #{replyContent}, #{memId})
	</insert>
	
	
</mapper>