<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.hong.schedule.schedule.mapper.ScheduleMapper">
	<insert id="makeSchedule" parameterType="co.hong.schedule.schedule.vo.ScheduleVO">
		<selectKey keyProperty="scNum" resultType="int" order="BEFORE">
			select schedule_seq.nextval from dual
		</selectKey>
		INSERT INTO SCHEDULE(SC_NUM, MEM_ID, S_DATE, E_DATE, 
										H_DAY1_CID, H_DAY2_CID, H_DAY3_CID, H_DAY4_CID, H_DAY5_CID,
										T_DAY1_CID, T_DAY2_CID, T_DAY3_CID, T_DAY4_CID, T_DAY5_CID)
		VALUES(#{scNum},#{memId},#{sDate},#{eDate},
					#{hDay1Cid}, #{hDay2Cid}, #{hDay3Cid}, #{hDay4Cid}, #{hDay5Cid}, 
					#{tDay1Cid}, #{tDay2Cid}, #{tDay3Cid}, #{tDay4Cid}, #{tDay5Cid})
	</insert>
	
	<insert id="makeHSC" parameterType="co.hong.schedule.schedule.vo.HotelScVO">
		
	</insert>
</mapper>