@charset "UTF-8";

#joinForm {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9999;
        }
        
        form{
            height: 380px;
        }
        
        .modal_join {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;

            width: 500px;
            height: 570px;
            margin: 0 auto;
            padding: 30px;
        }
		
		#loginForm{
			position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 9999;
		}
		
		
		
        .panel {
            background: url('https://images.pexels.com/photos/3229452/pexels-photo-3229452.jpeg?auto=compress&cs=tinysrgb&w=1600') #fff;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
           
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
           
            width: 500px;
            height: 570px;
            margin: 0 auto;
            padding: 30px;
        }




        .shadow1 {
            -webkit-box-shadow: 0 20px 15px -15px rgba(119, 119, 119, 0.85);
            -moz-box-shadow: 0 20px 15px -15px rgba(119, 119, 119, 0.85);
            box-shadow: 0 40px 30px -30px rgba(119, 119, 119, 0.85);
        }

        .panel-switch {
            text-align: center;
            margin-top: 30px;
        }

        .panel-switch button {
            display: inline-block;
            width: 100px;
            height: 40px;
            background: #0080FF;
            margin: 0px 10px 50px;
            border: none;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            font-size: 0.8em;

            transition: background-color 0.2s, color:0.2s, opacity:0.2s;
        }

        .panel-switch button:active {
            background: #0080FF;
            color: #0080FF;
        }

        .active-button {
            opacity: 0.5;
        }

        button,
        .button,
        a {
            cursor: pointer;
        }

        form h1 {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 4px;
            margin: 50px 0;
            font-size: 1.7em;
        }

        fieldset {
            border: none;
        }

        .animate1,
        .animate2,
        .animate3,
        .animate4 {
            -webkit-animation-duration: 2s;
            -moz-animation-duration: 2s;
        }

        .animate1 {
            -webkit-animation-delay: 0.2s;
            -moz-animation-delay: 0.2s;
        }

        .animate2 {
            -webkit-animation-delay: 0.7s;
            -moz-animation-delay: 0.7s;
        }

        .animate3 {
            -webkit-animation-delay: 1.1s;
            -moz-animation-delay: 1.1s;
        }

        .animate4 {
            -webkit-animation-delay: 1.5s;
            -moz-animation-delay: 1.5s;
        }

        .animate5 {
            -webkit-animation-delay: 2.2s;
            -moz-animation-delay: 2.2s;
        }

        @-webkit-keyframes fadeInUp {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0);
            }

            to {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        fieldset input {
            background: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 5em;
            height: 20px;
            width: 80%;
            margin: 10px 0;
            padding: 5px;
            text-indent: 10px;
            color: #fff;
            font-weight: 600;
        }

        fieldset input::placeholder {
            color: ##0080FF;
        }


        

        .login_form {
            position: relative;
            bottom: 0;
            width: 70%;
            height: 4em;
            margin-top: 150px;
            border: none;
            border-radius: 10em;
            background: #0080FF;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 2px;
            z-index: 1;

            transition: background-color 0.2s, color:0.2s;
        }

        #login-form-submit:active {
            background: #b52773;
            color: #c9c9c9;
        }

        p,
        a {
            margin: 0;
            padding: 0;
        }

        a {
            color: #898787;
            font-size: 0.7em;
            text-decoration: none;
        }

        .hidden {
            display: none;
        }

        /*MEDIA QUERIES     */

        @media (max-height:800px) {

            body {
                max-height: 100vh;
            }

            .panel {
                width: 450px;
                max-width: 90%;
                background-size: cover;
                margin: 1% auto;
            }

        }

        @media (max-width:500px) {

            html,
            body {
                background: url(https://picsum.photos/3695/5543?image=827) #fff;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
                height: 100vh;
                margin: 0px;
                padding: 0px;
                position: fixed;
            }

            .panel {
                background: none;
                box-shadow: none;
            }


            form {
                padding: 50px;
            }

            .panel-switch {
                margin-top: 30px;
            }

            .panel-switch button {
                display: inline-block;
                width: 80px;
                margin: 0px 10px 50px;
                font-weight: 600;
                font-size: 0.7em;
            }

            form h1 {
                font-size: 1.5em;
            }

        }